*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html {
    font-size:62.5%;
   // font-size:1px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;


}

.layout{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: [navbar-s]46px[navbar-e content-s]ifr[content-e] ;
    grid-template-columns: [s]1fr[e];

    &__navbar{
        grid-row: navbar-s/navbar-e;
        grid-column: s/e;
    }
    &__content{
        grid-column: s/e;
        grid-row: content-s/content-e;
    }
}